.principal{
    background-image: url(../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.bgcolor1{
    background-color: beige;
    width: 80%;
    height: 100%;

}

.estiloFoto2{
    height: 250px !important;
    width: 400px;
}

.contenedorAnimacion{
    overflow: hidden;
}

.imagen404{
    object-fit: cover;
    height: 90vh;
}
