@media (max-width: 768px) {
    .logo{
        width: 50%;
        
        
    }
    .estiloParrafo{
        text-align: center;
    }
    .estiloTitulos1{
        text-align: center;
    }
    .estiloFoto{
        width: auto;
    }
    .video{
        width: 100%;
    }
    .estiloParrafo2{
        
        font-size: 0.8em;
    }
}
    